pkgbase = python-ipfshttpclient
	pkgdesc = Python IPFS HTTP client library
	pkgver = 0.6.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/ipfshttpclient
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-ordering
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-localserver
	checkdepends = python-pluggy
	checkdepends = python-py
	depends = python
	depends = python-multiaddr
	depends = python-netaddr
	depends = python-requests
	depends = python-setuptools
	depends = python-six
	optdepends = go-ipfs: IPFS daemon
	conflicts = python-ipfsapi
	source = https://pypi.io/packages/source/i/ipfshttpclient4ipwb/ipfshttpclient4ipwb-0.6.0.tar.gz
	source = https://gist.githubusercontent.com/radfish/8bf3f64bc47c8ec123c469421ab293de/raw/d89ed69e3561961d92b1f48bad843649222f69b2/ipfshttpclient4ipwb-0.6.0-tests.patch
	source = https://gist.githubusercontent.com/radfish/8bf3f64bc47c8ec123c469421ab293de/raw/d89ed69e3561961d92b1f48bad843649222f69b2/ipfshttpclient4ipwb-0.6.0-rename.patch
	sha256sums = 2d0a349df35a7ae37fe1001f3b19260a65faf5fdb39cd945e71ba33a7c0dedf9
	sha256sums = af04b39810f2270e3e4449282f4ea55d8b34c3c3f4dd515674d587bd841efcce
	sha256sums = 13b2d8cdce60b08d6a223455083ba674eda36c802e414daf143f416b422a797d

pkgname = python-ipfshttpclient

